# If you want to build and/or update the documentation, the following packages
# are required:

# For building documentation
sphinx==6.2.1
sphinx-rtd-theme==1.2.2
# To run "make livehtml", build docs and refresh browser automatically when
# files change
sphinx-autobuild==2021.3.14
